body {
    font-family: 'Roboto Condensed', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #d6e4f0;
    /*background-image: url('../img/background.jpg');*/
    background-repeat: no-repeat;
    /*background-attachment: fixed;*/
    background-size: cover;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: #f6f6f6;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}

.container h1 {
    color: #333;
    font-size: 2em;
}

.container p {
    color: #3b3b3b;
    line-height: 1.6;
}
#mainNav {
    background-color: #000000;

}
#navbar {
    background-color: #000000;
}
.navbar-light {
    color: #ffffff;
    background-color: #000000;

}

.navbar {
    background-color: #163172 !important;
}


.navbar .nav-link,
.navbar .dropdown-item {
    color: #f6f6f6 !important;
}
.navbar-brand{
    color: #f6f6f6 !important;
    display: flex;
    text-align: left;
}
.navbar-toggler {
    background-color: #f6f6f6 !important;
}

.dropdown-menu {
    background-color:  #444040 !important;
    border: 2px solid #b8afa5;
}
.navbar-nav {
    flex-direction: row;
    justify-content: center;
    color: #000000;
    /*background-color: #f8f9fa;*/
    /*background-image: url('../img/menu_background.jpg');*/
}



.navbar-nav .nav-item {
    margin: 0 10px;
}

.flex_containter {
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.container_organisers {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: #f6f6f6;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
    align-items: center;

}

.profile{
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
    background-color: #f6f6f6;
    display: flex;
    justify-content: left;
    margin: 1%;
    padding: 1%;

}

.profile_photo{
    margin: 1%;
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.profile_info{
    margin: 1%;
    padding: 1%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.freeman-regular {
    font-family: "Freeman", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

#id_contact_organizators_container {
    margin-top: 2%;
}
.attraction{
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
    background-color: #f6f6f6;
    display: flex;
    justify-content: center;
    margin: 1%;
    padding: 1%;
    flex-direction: column;
    
}
.logo{
    display: flex;
    width: 50px;
    height: 50px;
    align-items: left;
}